{% extends 'pinderApp/layout.html' %}
{% block title %}Feed{% endblock title %}
{% load humanize %}
{% block content %}

{% for d in data %}

<article class="posteo">
    {% if d.imgPosteo %}
    <img src="{{ d.imgPosteo.url}}"  class="posteo__img">
    {% endif%}
    <div class="posteo__info">
         <div class="posteo__info--head">
            <div class="posteo__info--head-r">
                {% if d.user.profile.image.url %}
            <img src="{{ d.user.profile.image.url}}" alt="{{d.user.username}}">
            {% else %} 
            <img src="../../static/pinderApp/assets/user.png" alt="{{d.user.username}}">
            {% endif %}
            <div class="posteo__info--head-content">
                <h2>{{d.user.first_name}} {{d.user.last_name}}</h2>
               <a href="{% url 'profile' d.user.username %}">@{{d.user.username}}</a>   
               <time data-time="#"> <i class="bi bi-clock-history"></i> {{d.timestamp|naturaltime}}</time>
            </div> 
            </div>
            <div class="btn-group">
                <button class="btn btn-feed dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Eliminar</a></li>
                  <li><a class="dropdown-item" href="#">Editar</a></li>
                </ul>
              </div>
         </div>  
        <div class="posteo__info__content">
            <h3>Nombre:{{d.nombre}}</h3>
            <ul>
                <li>Edad: {{d.edad}}</li>
                <li>Sexo: {{d.sexo}}</li>
                <li>Castrado: {{d.castracion}}</li>
                <li>Vacunas: {{d.vacunas}}</li>
            </ul>
            <p></p>
            <p>{{d.content}}</p>
        </div>
    </div>
</article>

{% endfor %}

{% endblock %}