<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---- Favicon-->
    <link rel="shortcut icon" href="{% static 'pinderApp/assets/favicon.ico' %}">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- CSS -->
    <link href="{% static 'pinderApp/css/style.css' %}" rel="stylesheet" />
    <title>{% block title %}{% endblock title %}</title>
</head>

<body class="bg-app">
    <header class="app__header">
        <nav class="app__nav">
            <a href="{% url 'inicio' %}" class="app__brand"><img src="{% static 'pinderApp/assets/logo.png' %}" alt="logo"></a>
                  
            <ul class="app__nav__list">
                <li><a href="{% url 'feed' %}" class="app__nav__list--link">Inicio</a></li>
                <li><a href="{% url 'profile' request.user.username %}" class="app__nav__list--link">Perfil</a></li>
                <li><a href="{% url 'logout' %}" class="app__nav__list--link">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <main class="bg-main container">
        
        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-success m-3" role="alert">
                <p>
                    {{message}}
                </p>
              </div>
          {% endfor %}
        {% endif %}

     
    {% block content %}
    {% endblock content %}
    </main>

 <footer class="footer-app">
    <p>© 2022 Pinder derechos reservados.</p>
</footer>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>

</html>